{% extends "layout.html" %}

{% block page_title %}
  DWP Design System
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Design System</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">All you need to design and build DWP services that meet government standards.</p>
      </div>
      <div class="column-one-third">
        <a href="#" class="white-button">Want to contribute?</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">
  <div class="grid-row margin-top">
    <div class="column-one-third">
      <h2 class="heading-medium no-margin-top">
        <a href="#">Getting started</a>
      </h2>
      <p>
        A guide to getting started with the DWP Design System.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium no-margin-top">
        <a href="#">Design Patterns</a>
      </h2>
      <p>
        Find all information for design patterns used within DWP.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium no-margin-top">
        <a href="#">Components</a>
      </h2>
      <p>
        Find all information for components used within DWP.
      </p>
    </div>
  </div>
</main>

{% endblock %}
